  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :address %><br />
  <%= f.text_field :address %></p>

  <p><%= f.label :city %><br />
  <%= f.text_field :city %></p>

  <p><%= f.label :zip_code %><br />
  <%= f.text_field :zip_code %></p>

  <p><%= f.label :phone %><br />
  <%= f.text_field :phone %></p>
  
  <p><%= f.label :country %><br />
  <%= f.select :country, $countries %></p>

  <p><%= f.label :language %><br />
  <%= f.select :language, $languages %></p>
