<div id="menu_bar">
  <ul>
    <li><%= I18n.t :my_shop %></li>
    <li><%= I18n.t :prorducts_mgt %></li>
    <li><%= I18n.t :clients_mgt %></li>
    <li><%= I18n.t :subscription %></li>
    <li><%= I18n.t :services %></li>

  </ul>
</div>