<div id="menu_bar">
  <ul>
    <li><%= link_to I18n.t(:my_shop), url_for(:page => "seller", :content_page => "my_shop")%></li>
    <li><%= link_to I18n.t(:prorducts_mgt), url_for(:page => "seller", :content_page => "products_mgt") %></li>
    <li><%= link_to I18n.t(:clients_mgt), url_for(:page => "seller", :content_page => "clients_mgt") %></li>
    <li><%= link_to I18n.t(:subscription), url_for(:page => "seller", :content_page => "subscription") %></li>
    <li><%= link_to I18n.t(:services), url_for(:page => "seller", :content_page => "services") %></li>
  </ul>
</div>