<%= render "sell_menu_bar" %>
<div id="contents_zone" >
<!-- <h1><%= @content_page %></h1> -->
<% if @content_page.nil? %>
    <%= render "default_seller_content" %>
<% elsif @content_page == "my_shop" %>
    <%= render "my_shop_content" %>
<% elsif @content_page == "products_mgt" %>
    <%= render "products_mgt_content" %>
<% elsif @content_page == "clients_mgt" %>
    <%= render "clients_mgt_content" %>
<% elsif @content_page == "subscription" %>
    <%= render "subscription_content" %>
<% elsif @content_page == "services" %>
    <%= render "services_content" %>
<% end %>
</div>