<div id="menu_bar">
  <ul>
    <li><%= link_to I18n.t(:my_shop), shops_shop_status_path %> </li>
    <li><%= link_to I18n.t(:prorducts_mgt), shops_product_mgt_path %> </li>
    <li><%= link_to I18n.t(:clients_mgt), shops_client_mgt_path %> </li>
    <li><%= link_to I18n.t(:subscription), shops_subscription_path %> </li>
    <li><%= link_to I18n.t(:services), shops_services_path  %> </li>
  </ul>
</div>