<!-- # == Schema Information
# Schema version: 20101128010710
#
# Table name: products
#
#  id            :integer         not null, primary key
#  name          :string(255)
#  reference     :string(255)
#  description   :string(255)
#  collection_id :integer
#  created_at    :datetime
#  updated_at    :datetime
# -->

<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :reference %>
      <%= f.input :description %>
    <% end %>
</div>