<header>
  <div id="status_bar">
    <ul class="left_side">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Users", users_index_path %></li>
      <li><%= link_to "Shops", shops_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to "Edit", edit_user_registration_path %></li>
      <li>
      <%= I18n.t :welcome %> <%= link_to current_user.email, users_show_path_helper(current_user.id) %>.
      </li>
      <li>     <%= I18n.t :not_you %> <%= link_to "Sign out", destroy_user_session_path %>
     <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
     <% end %>
      </li>
    </ul>
    <ul class="right_side">
      <li><%= link_to "Chinese", root_path(:locale => 'zh') %></li>
      <li><%= link_to "French", root_path(:locale => 'fr') %></li>
      <li><%= link_to "English", root_path(:locale => 'en') %></li>
    </ul>
  </div>
  <br/>
  
<div id="logo"> 
  <%= image_tag("logo.png", :alt => "LOGO") %>
</div>
<div id="facebook_b">  
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMyWebShop%23%21%2Fpages%2FMyWebShop%2F171971476157384&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
</div>
  
  <% if flash[:notice] != nil  %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] != nil  %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <% if flash[:success] != nil  %>
    <p class="success"><%= flash[:success]  %></p>
  <% end %>
  
<% if user_signed_in? and show_menu? %>
  <%= render "shared/tab_bar" %>
  <%= render "shared/#{session[:cur_tab]}_menu" unless session[:cur_tab].nil?  %>
<% end %>

</header>
